@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html { overflow-y: scroll; }
body { 
	/* position: absolute;  */
	max-width: 80%;
	margin: auto;
}



#header{
	text-align: center;
	/* border-style: solid; */
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: bolder;
	/* text-decoration: underline; */
	
}

#section1{
	margin-top: 50px;
	width: 99.5%;
	height: 400px;
}

#section2{
	margin-top: 30px;
	width: 99.5%;
	height: 530px;
}

#section3{
	margin-top: 30px;
	width: 99.5%;
	height: 480px;
}

#section4{
	margin-top: 30px;
	width: 99.5%;
	height: 520px;
}

#section5{
	margin-top: 60px;
	width: 99.5%;
	height: 770px;
	/* border-style: solid; */
}

#info{
	width: 35%;
	float: left;
}



#title{
	margin-top: 10px;
	text-align: left;
	font-family: "Open Sans";
	font-size: 30px;
}
#txtContent{
	font-family: "Open Sans";
	font-size: 16px;
	text-align: justify;
}

#graph1{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}

#graph2{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}

#graph3{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#graph4{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#graph5{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#symbol_map{
	margin-top: 10px;
	margin-right:0px;
}

#stacked_bar, #box_plot, #parallel_coords, #chonky_boi{
	margin-top: 15px;
	margin-right:0px;
}


