@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html { overflow-y: scroll; }
body { 
	/* position: absolute;  */
	max-width: 80%;
	margin: auto;
}

#rating_tbl {
	font-family: "Open Sans";
	border-collapse: collapse;
	width: 100%;
  }
  
  #rating_tbl td, #rating_tbl th {
	border: 1px solid #ddd;
	padding: 3px;
  }
  
  #rating_tbl tr:nth-child(even){background-color: #f2f2f2;}
  
  #rating_tbl tr:hover {background-color: #ddd;}
  
  #rating_tbl th {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	background-color: #0476aa;
	color: white;
  }

#header{
	text-align: center;
	/* border-style: solid; */
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: bolder;
	/* text-decoration: underline; */
	
}

#section1{
	margin-top: 50px;
	width: 99.5%;
	height: 400px;
}

#section2{
	margin-top: 30px;
	width: 99.5%;
	height: 530px;
}

#section3{
	margin-top: 30px;
	width: 99.5%;
	height: 480px;
}

#section4{
	margin-top: 30px;
	width: 99.5%;
	height: 950px;
}

#section5{
	margin-top: 60px;
	width: 99.5%;
	height: 770px;
	/* border-style: solid; */
}

#info{
	width: 35%;
	float: left;
}



#title{
	margin-top: 10px;
	text-align: left;
	font-family: "Open Sans";
	font-size: 25px;
}
#txtContent{
	font-family: "Open Sans";
	font-size: 16px;
	text-align: justify;
}

#graph1{
	float: right;
	width: 55%;
	margin-right: 0px;
	/* border-style: solid; */
}

#graph2{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}

#graph3{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#graph4{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#graph5{
	float: right;
	width: 60%;
	margin-right: 0px;
	/* border-style: solid; */
}
#symbol_map{
	margin-top: 10px;
	margin-right:0px;
}

#stacked_bar, #box_plot, #parallel_coords, #chonky_boi{
	margin-top: 15px;
	margin-right:0px;
}


